<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎页面</title>
</head>
<body>
<h1>Engulf丶迷失</h1>
<form action="/demo" method="post" enctype="multipart/form-data">
    用户名：<input name="userName"/><br>
    邮箱：<input name="email"/>
    <div class="form-group">
        <label>头像</label>
        <input type="file" name="headerImg">
    </div>
    <div class="form-group">
        <label>生活照</label>
        <input type="file" name="photos" multiple>
    </div>
    <input type="submit" value="提交"/>
</form>
</body>
</html>